{

  "presets": [

	"react-app",

    "es2015",

    "react"

  ],

  "plugins": [

    [

      "import",

        {

          "libraryName": "antd-mobile",

          "style": true

        }

      ],
			["transform-decorators-legacy"],["transform-class-properties"]

    ]

}